body{
 font-family: arial;
 font-size: 1em;
 background-color: #F3E9D2;
}


.parent{
  width: 90%;
  height: 650px;
  border: 10px solid #333;
  display: flex;
   

}

.card{
  width: 25%;
  height: 100%;
  border: 3px solid #333;
  position: relative;

}

.product-image{
  width:75%;
  height:50%;
  display: flex;
 margin: auto;
  
}

.product-image2{
  width:65%;
  height:45%;
  display: flex;
 margin: auto;
}

h2{
  text-align: center; 
  font-size: 23px;
  padding-bottom: 25px;
}

p{
  text-align:  justify;
  margin-left: 10px;
  margin-right: 10px;
}
 .bold{
    font-weight: bold;
  }

.price{
   position:absolute;
    bottom: 0;
}